<ion-tabs>

  <ion-tab label="Account" icon="person" href="/tabs/(accountu:accountu)">
    <ion-router-outlet name="accountu"></ion-router-outlet>
  </ion-tab>

  <ion-tab label="Map" icon="map" href="/tabs/(map:map)">
    <ion-router-outlet name="map"></ion-router-outlet>
  </ion-tab>

  <ion-tab label="Weather" icon="sunny" href="/tabs/(weather:weather)">
    <ion-router-outlet name="weather"></ion-router-outlet>
  </ion-tab>

  <ion-tab label="Settings" icon="settings" href="/tabs/(settings:settings)">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>
  
</ion-tabs>
