<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login" [text]="buttonText" [icon]="buttonIcon"></ion-back-button>
      </ion-buttons>
      <ion-title> Register </ion-title>
    </ion-toolbar>
  </ion-header>
 
<ion-content padding>
  <form [formGroup]="credentialsForm">
      <ion-item>
          <ion-label position="floating">FullName</ion-label>
          <ion-input type="text" formControlName="fullName"></ion-input>
        </ion-item>
 
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="text" formControlName="phone"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-list>
        <ion-item>
          <ion-label>Male</ion-label>
          <ion-checkbox color="dark" [checked]="checkmale" (ionChange)="updateCheckmale($event)"></ion-checkbox>
        </ion-item>
          
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-checkbox color="dark" [checked]="checkfemale" (ionChange)="updateCheckfemale($event)"></ion-checkbox>
        </ion-item>
      </ion-list> 

    
    <ion-button expand="full" shape="round" type="button" (click)="presentAlertPrompt()" [disabled]="!credentialsForm.valid">ADD SUPERVISOR</ion-button>
    <div style="margin-top: 10px">
      <ion-button expand="full" shape="round" type="button" [disabled]="checkAddSuper" (click)="register()" >Register</ion-button>
    </div>
    <br/>
    <br/>
    <div  style="text-align: center;">
        <ion-label style="color:rgb(0, 0, 0);" color="transparent" (click)="loginP()" >Already Registred! <span class="notSign"><u>Login Me.</u></span></ion-label>
      </div>
 
  </form> 
</ion-content>
